<header>
    <div class="header-shim">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Fantasy Golf the way it should be played</h1>
            <hr>
            <p>More clutch than Anirban Lahiri on a Sunday at Augusta.</p>
            <a ng-repeat="tournament in mostRecent" href="#about" class="btn btn-primary btn-xl page-scroll" ui-sref="tournament({tournament_id: '{{tournament.tournamentCode}}'})">Current Tournament</a>
        </div>
    </div>
    </div>
</header>

