<header>
    <div class="header-shim">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>{{tournament.name}}</h1>
                <hr>
                <p>Trash Holes <span class="brand-primary">{{tournament.trashHoles}}</span></p>
            </div>
        </div>
    </div>
</header>


<section class="leaderboard">
    <div class="team" ng-repeat="team in teams">
        <div class="team-name">{{team.name}}</div>
        <div class="team-leaderboard">
            <div class="team-leaderboard-labels">
                <div class="col-xs-4">Player</div>
                <div class="col-xs-2">POS</div>
                <div class="col-xs-2">Score</div>
                <div class="col-xs-2">Eagles</div>
                <div class="col-xs-2">Trash</div>
                <div class="clearfix"></div>
            </div>
            <div class="team-leaderboard-data">
                <div ng-repeat="player in team.players" class="team-leaderboard-row" ng-click="toggleActive(player)" ng-class="{active : isSelected(player)}">
                    <div class="col-xs-4 data">{{truncateName(player.name)}}</div>
                    <div class="col-xs-2 data">{{player.position}}</div>
                    <div class="col-xs-2 data">{{player.finalScore}}</div>
                    <div class="col-xs-2 data">{{player.eagles}}</div>
                    <div class="col-xs-2 data">{{player.trashBirdies}}</div>
                    <div class="expand-panel">
                        <div>
                            <div class="col-xs-4">Doubles or Worse</div>
                            <div class="col-xs-8">{{player.others}}</div>
                        </div>
                        <div>
                            <div class="col-xs-4">Heaters</div>
                            <div class="col-xs-8">{{player.heaters}}</div>
                        </div>
                        <div>
                            <div class="col-xs-4">Bogey Trains</div>
                            <div class="col-xs-8">{{player.trains}}</div>
                        </div>
                        <div class="round-table">
                            <div class="team-leaderboard-labels">
                                <div class="col-xs-2">Round</div>
                                <div class="col-xs-2">Score</div>
                                <div class="col-xs-2">Thru</div>
                                <div class="col-xs-2">Eagles</div>
                                <div class="col-xs-2">Trash</div>
                                <div class="col-xs-2">Cheers</div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="round team-leaderboard-row" ng-repeat="round in player.rnds">
                                <div class="col-xs-2">{{getDayFromRound($index)}}</div>
                                <div class="col-xs-2">{{round.score}}</div>
                                <div class="col-xs-2">{{round.holesPlayed}}</div>
                                <div class="col-xs-2">{{round.eagles}}</div>
                                <div class="col-xs-2">{{round.trashBirdies}}</div>
                                <div class="col-xs-2">{{round.others}}</div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>